[Desktop Entry]
Version=1.0
Type=Application
Name=Simple PyQt5
Comment=We just Open a GUI
Exec=simpqt
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=Utility;
Terminal=false
StartupNotify=true
StartupWMClass=simpqt
Name[en_US]=Simple PyQt5
