[Desktop Entry]
Version=1.0
Type=Application
Name=Something
Comment=Simple PyQt5 deb
Exec=simpqtdeb
Icon=/usr/share/pixmaps/linuxcncicon.png
Categories=X-CNC;Utility
Terminal=false
StartupNotify=true
StartupWMClass=simpqtdeb
Name[en_US]=Simple PyQt5
